@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --tile-size: 4rem;
  --primary-color: #112B3C;
  --secondary-color-100: #25638d;
  --secondary-color-200: #4c93c2;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

body {
  display: flex;
  color: white;
  
}

.App {
  background: var(--primary-color);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

nav {
  grid-area: 1 / 1 / 2 / end;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}

.ship-selection {
  align-self: flex-start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--secondary-color-100);
  width: fit-content
}

.ship {
  height: var(--tile-size);
  font-size: 1.25rem;
  cursor: pointer;
  color: black;

  display: flex;
  align-items: center;
}

.ship h3 {
  text-transform: capitalize;
}

.active-ship {
  outline: 2px black solid;
}

h3 {
  padding: 10px;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(10, auto);
  text-align: center;
  touch-action: none;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--secondary-color-100);
  outline: 0.25rem var(--primary-color) solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.odd {
  background-color: var(--secondary-color-100);
}

.even {
  background-color: var(--secondary-color-200);
}

.carrier {
  background-color: rgb(247, 59, 66);
}

.battleship {
  background-color:rgb(255, 187, 0);
}

.cruiser {
  background-color:rgb(147, 228, 18);
}

.destroyer {
  background-color:rgb(173, 114, 255);
}

.submarine {
  background-color:rgb(253, 253, 253);
}

.hit {
  background: url("assets/images/thin-target.png") no-repeat center center;
  background-size: 85%;
}

.miss {
  background-color: transparent
}

.control-btn {
  font-size: 4rem;
}

.select-target {
  background: url("assets/images/torpedo.png") no-repeat center;
  background-size: 85%;
}

.controls {
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center; 
  gap: 10rem;
  font-size: 2rem;
  text-align: left;
  background-color: var(--secondary-color-100);
  width: fit-content;
  max-width: 90%;
}

.controls h3 {
  text-align: center;
  font-size: 2rem;
}

.modal-outer {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  font-size: 4rem;
  background-color: var(--secondary-color-200);
  padding: 2rem;
  border-radius: 15px;
  margin-inline: 2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.modal-inner button {
  background-color: var(--primary-color);
  font-size: 3rem;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 10px;
  
}

.hit-miss {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  border: 3px white solid;
  width: 95%;
  font-size: 1.75rem;
}

.control-info {
  font-size: 2.5rem;
}

.mobile-btns {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 2vw 0;
  visibility: hidden;
}

.mobile-btn {
  background-color: var(--secondary-color-100);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media (max-width: 1440px) {
  :root {
    --tile-size: 3rem
  }

  .ship h3 {
    display: none;
  }
}

@media (max-width: 1024px) {
  :root {
    --tile-size: 9.3vw;
    font-size: 7pt;
    overflow-x: hidden;
  }

  .content {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }

  .hit-miss {
    width:80vw;
  }

  #gameboard {
    margin: 4vw;
    margin-bottom: 0;
  }

  .controls {
    gap: 2rem;
  }

  .ship-selection {
    margin-bottom: 2vw;
  }

  .mobile-btns {
    display: flex;
    visibility: visible;
  }
}

