@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --tile-size: 4rem
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
 
  display: flex;

}

.App {
  background: #616158;
  min-height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr ;
  row-gap:  4rem;
  justify-content: center;
  align-items: center;
}

nav {
  grid-area: 1 / 1 / 2 / end;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
}

.ship-selection {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.ship {
  height: var(--tile-size);
  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.active-ship {
  outline: 2px black solid;
}

h3 {
  padding: 10px;
  text-transform: uppercase;
}

#gameboard {
  grid-area: 2 / 2 / end / 3;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  aspect-ratio: 1 / 1;
  text-align: center;
  border: 5px black solid;
  border-radius: 20px;
  overflow: hidden;
}

.tile {
  width: var(--tile-size);
  height:auto;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.odd {
  background-color: #1E6091;
}

.even {
  background-color: #184E77;
}

.carrier {
  background-color: rgb(255, 89, 94);
}

.battleship {
  background-color:rgb(255, 202, 58);
}

.cruiser {
  background-color:rgb(138, 201, 38);
}

.destroyer {
  background-color:rgb(183, 158, 219);
}

.submarine {
  background-color:rgb(226, 248, 241);
}

.hit {
  background-color: purple;
}

.miss {
  background-color: chocolate;
}

.control-btn {
  font-size: 4rem;
}
